.button {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1rem, 1rem + 0.0125vw, 1.125rem);
  font-weight: 700;
  display: inline-block;
  line-height: 1.75;
  letter-spacing: 2.16px;
  padding-inline: 3rem;
  padding-block: .66rem;
  transition: .2s ease-in-out;
  // margin-top: 1rem;
  &--primary {
    border-radius: $btnBorder;
    background-color: $themePrimary;
    color: $textOffColor;
    &:hover {
        background: darken($themePrimary, 5%);
      }
  }
  &--next {
    display: flex!important;
    align-items: center;
    justify-content: center;
    &::after {
      content: url(/assets/img/icons/icon-next.svg);
      margin-left: 1rem;
      line-height: 1em;
    }
  }

}
