.button {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1rem, 1rem + 0.0125vw, 1.125rem);
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 2.16px;
  padding-inline: 3rem;
  padding-block: .66rem;
  transition: .2s ease-in-out;
  &--primary {
    border-radius: $btnBorder;
    background-color: $themePrimary;
    color: $textOffColor;
    &:hover {
        background: darken($themePrimary, 5%);
      }
  }

}
