@mixin pseudo($position: absolute, $content: '') {
    content: $content;
    position: $position;
}

@mixin bg ($repeat: no-repeat, $size: cover, $pos: center) {
    background-repeat: $repeat;
    background-position: $pos;
    background-size: $size;
}


@mixin min ($breakpoint) {
    @if $breakpoint==mobile {
        @media only screen and (min-width: 300px) {
            @content;
        }
    }

    @if $breakpoint==tablet {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }

    @if $breakpoint==desktop {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }

    @if $breakpoint==mdpi {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }

    @if $breakpoint==mac {
        @media only screen and (min-width: 1440px) {
            @content;
        }
    }

    @if $breakpoint==fhd {
        @media only screen and (min-width: 1920px) {
            @content;
        }
    }

    @if $breakpoint==qhd {
        @media only screen and (min-width: 2560px) {
            @content;
        }
    }

    @if $breakpoint==uhd {
        @media only screen and (min-width: 3840px) {
            @content;
        }
    }
}
@mixin max ($breakpoint) {
    @if $breakpoint==mobile {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }

    @if $breakpoint==tablet {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }

    @if $breakpoint==desktop {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }

    @if $breakpoint==mac {
        @media only screen and (max-width: 1420px) {
            @content;
        }
    }

    @if $breakpoint==fhd {
        @media only screen and (max-width: 1900px) {
            @content;
        }
    }

    @if $breakpoint==qhd {
        @media only screen and (max-width: 2540px) {
            @content;
        }
    }

    @if $breakpoint==uhd {
        @media only screen and (max-width: 3820px) {
            @content;
        }
    }
}
// $container-padding-x: 1.5rem;
// // Source mixin
// @mixin make-container($padding-x: $container-padding-x) {
//     width: 100%;
//     padding-right: $padding-x;
//     padding-left: $padding-x;
//     margin-right: auto;
//     margin-left: auto;
//   }
  
//   // Usage
//   .custom-container {
//     @include make-container();
//   }