$textPrimary: #333333;
$textOffColor: #ffffff;

$themePrimary: #4c6bba;
$themeSecondary: #c2ebf3;

$shadowPrimary: 0 0 57px rgba(69, 121, 255, 0.38);
$shadow: 0 0 57px rgba(69, 121, 255, 0.38);

$borderRadius: 30px;
$btnBorder: 30px;
$smBorder: 50px;
$lgBorder: 100px;
$navHeight: 100px;

$borderWidth: 8px;