:root {
    --white: white;
}

$textPrimary: #333333;
$textOffColor: #ffffff;

$themePrimary: #4c6bba;
$themePrimaryLight: #adc4ff;
$themeSecondary: #c2ebf3;
$themeSecondaryLight: #f3f5fa;

$shadowPrimary: 0 0 57px rgba(69, 121, 255, 0.15);
$shadow: 0 0 57px rgba(69, 121, 255, 0.15);

$borderRadius: 30px;
$btnBorder: 30px;
$smBorder: 50px;
$lgBorder: 100px;
$navHeight: 100px;

$borderWidth: 8px;
