/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/theme.scss ***!
  \********************************************************************************************************************************************************/
.autoprefixer-test {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: blue;
}
