/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \****************************************************************************************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.acf-block h1,
.acf-block h2 {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-size: clamp(1.4rem, 1rem + 0.75vw, 2.5rem);
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 4px;
}
.acf-block h3,
.acf-block h4 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5;
  font-size: clamp(1.2rem, 1rem + 0.25vw, 1.5rem);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2.88px;
}

p, .paragraph {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-size: clamp(1rem, 1rem + 0.0125vw, 1.125rem);
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 2.16px;
}

.button, .main-header .nav-item:last-child .nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1rem, 1rem + 0.0125vw, 1.125rem);
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 2.16px;
  padding-inline: 3rem;
  padding-block: 0.66rem;
  transition: 0.2s ease-in-out;
}
.button--primary, .main-header .nav-item:last-child .nav-link {
  border-radius: 30px;
  background-color: #4c6bba;
  color: #ffffff;
}
.button--primary:hover, .main-header .nav-item:last-child .nav-link:hover {
  background: #425fab;
}

.text-center > h1, .text-center > h2, .text-center > h3, .text-center > h4, .text-center > h5, .text-center > h6, .text-center > p,
.text-center ul li {
  text-align: center;
}

.text-end > h1, .text-end > h2, .text-end > h3, .text-end > h4, .text-end > h5, .text-end > h6, .text-end > p,
.text-end ul li {
  text-align: end;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
}

.aspect-3by2 {
  object-fit: cover;
  aspect-ratio: 1/1;
}
@media only screen and (min-width: 992px) {
  .aspect-3by2 {
    aspect-ratio: 9/7;
  }
}
@media only screen and (min-width: 1920px) {
  .aspect-3by2 {
    aspect-ratio: 3/2;
  }
}
@media only screen and (max-width: 991px) {
  .aspect-3by2-small {
    aspect-ratio: 5/2;
  }
}
@media only screen and (max-width: 991px) {
  .aspect-blog {
    aspect-ratio: 3/2;
  }
}
.aspect-16by9 {
  aspect-ratio: 16/9;
  object-fit: cover;
}
.aspect-1by1 {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.aspect-2by3 {
  aspect-ratio: 2/3;
  object-fit: cover;
}
.aspect-2by1 {
  aspect-ratio: 2/1;
  object-fit: cover;
}
.aspect-5by2 {
  object-fit: cover;
  aspect-ratio: 5/3;
}
@media only screen and (min-width: 1920px) {
  .aspect-5by2 {
    aspect-ratio: 5/2;
  }
}
.aspect-6by5 {
  object-fit: cover;
  aspect-ratio: 1/1;
}
@media only screen and (min-width: 992px) {
  .aspect-6by5 {
    width: 90%;
    aspect-ratio: 6/5;
  }
}

.bg {
  min-height: 1rem;
}
.bg-theme-primary {
  background: #4c6bba;
}
.bg-theme-secondary {
  background: #c2ebf3;
}

.radius {
  border-radius: 30px;
}
.radius-left-right-top {
  border-radius: 30px 30px 0 0;
}
.radius-left-right-bot {
  border-radius: 0 0 30px 30px;
}
.radius-left-even {
  border-radius: 30px 0 30px 0;
}
.radius-right-even {
  border-radius: 0 30px 0 30px;
}
.radius-left-top-bottom {
  border-radius: 30px 0 0 30px;
}
.radius-right-top-bottom {
  border-radius: 0 30px 30px 0;
}

.text-primary {
  color: #4c6bba !important;
}

.text-secondary {
  color: #c2ebf3 !important;
}

.text-underline {
  text-decoration: underline;
}

@media only screen and (min-width: 1440px) {
  .transform-right-10 {
    transform: translateX(10%);
  }
}

@media only screen and (max-width: 991px) {
  .navbar.navbar-expand-xxl {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}
.nav-logo {
  width: clamp(6rem, 10.41vw, 25rem);
  aspect-ratio: 3/1;
  height: auto;
  transition: 0.2s ease-in-out;
  object-fit: contain;
}

.sticky {
  background-color: white;
  transition: 0.3s ease-in-out;
  top: 0;
  z-index: 1020;
  width: 100%;
  position: sticky;
}
@media only screen and (min-width: 992px) {
  .sticky {
    position: sticky;
  }
}
.sticky-shadow {
  box-shadow: 0 0 57px rgba(69, 121, 255, 0.38);
}

.main-header .navbar {
  background: white;
  border-bottom: 1px solid #e7e7e7;
  min-height: 100px;
}
.main-header .nav-item:last-child .nav-link {
  margin-left: 2rem;
}
.main-header .nav-item:not(:last-child) .nav-link {
  padding-inline: 2rem;
  font-weight: 500;
  color: #333333;
  transition: 0.2s ease-in-out;
}
.main-header .nav-item:not(:last-child) .nav-link:hover {
  color: #737373;
}

.samatix-footer {
  background-color: #fafcfc;
  min-height: 40px;
  box-shadow: 0 0 64px 16px rgba(160, 214, 213, 0.15);
}
.samatix-footer .container.custom {
  font-weight: 500;
}
.samatix-footer .container.custom p {
  margin-bottom: 0;
  line-height: 2;
}
.samatix-footer .container.custom p a.samatix-brand {
  font-weight: 700;
  color: #f6511d;
  text-decoration: none;
}

.hero {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero__wrapper {
  position: relative;
}
.hero__wrapper img {
  object-fit: contain;
  aspect-ratio: 3/2;
}
.hero__wrapper::before {
  content: "";
  position: absolute;
  inset: 20% -100% -8px 5%;
  background: #c2ebf3;
  border-radius: 100px 0 0 100px;
  border: 8px solid white;
  box-shadow: 0 0 57px rgba(69, 121, 255, 0.38);
  z-index: -1;
}
.hero__wrapper::after {
  content: "";
  position: absolute;
  left: 70%;
  top: 60%;
  transform: translateY(-50%);
  aspect-ratio: 3/2;
  width: 75%;
  background: url(/assets/img/effect-writing.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}
.hero__wrapper > span::before, .hero__wrapper > span::after {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 50px;
  border: 8px solid white;
  z-index: -2;
}
.hero__wrapper > span::before {
  left: 0;
  top: 10%;
  width: 200px;
  background: #4c6bba;
  box-shadow: 0 0 57px rgba(69, 121, 255, 0.38);
}
.hero__wrapper > span::after {
  right: 10%;
  width: 370px;
  bottom: -10%;
  background: #c2ebf3;
  box-shadow: 0 0 57px rgba(69, 121, 255, 0.38);
}

main {
  margin-top: 100px;
}
@media only screen and (max-width: 767px) {
  main {
    min-height: 100vh;
    min-height: 100svh;
  }
}

.container.custom {
  width: 100%;
  max-width: clamp(300px, 100%, 992px);
}
@media only screen and (min-width: 992px) {
  .container.custom {
    max-width: clamp(992px, 80%, 6528px);
  }
}
